@charset "UTF-8";
html, body {
    height:100%;
    margin:0;
    padding:0
}
#dHead {
    height:100px;
    line-height:100px;
    background:#690;
    width:100%;
    position:absolute;
    top:0;
    text-align:center;
}
#dBody {
    background:#FC0;
    width:100%;
    /*关键在于要对中间的元素设置超出滚动，不然会有问题，而且中间块进行绝对定位的时候要在上下预留出他们的高度，但是自己的高度是不确定的*/
    overflow:auto;
    top:100px;
    position:absolute;
    bottom:100px;
}
.mycontent {
    padding:20px;
}
#dFoot {
    height:100px;
    line-height:100px;
    background:#690;
    width:100%;
    position:absolute;
    bottom:0;
    text-align:center;
}
